:host {

}

#board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  overflow: hidden;
  width: 500px;
}

header {
  .menu {
    color: var(--color-tone-3)
  }
}
