:host {
  height: var(--keyboard-height);
}

#keyboard {
  margin: 0 8px;
  user-select: none;
}

.keyboard-row {
  display: flex;
  width: 100%;
  margin: 0 auto 8px;
  touch-action: manipulation;
}

button {
  font-family: inherit;
  font-weight: bold;
  border: 0;
  padding: 0;
  margin: 0 6px 0 0;
  height: 58px;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  background-color: var(--key-bg);
  color: var(--key-text-color);
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
}

button:last-of-type {
  margin: 0;
}

// button[data-state='empty'] {
//   border: 2px solid var(--color-tone-4);
// }

button[data-state='present'] {
  background-color: var(--color-present);
}

button[data-state='correct'] {
  background-color: var(--color-correct);
}

button[data-state='absent'] {
  background-color: var(--color-absent);
}

.half {
  flex: 0.5;
}

.one-and-a-half {
  flex: 1.5;
  font-size: 12px;
}
