/**
 * **🚀 Perf Tip for TBT:**
 *
 * Only include styles visible in the main bundle and move other imports directly into the respective component. e.g. button style
 * This reduces bundle-size of your styles.
 */
@import 'app/ui/token/mixins/media';
@import 'app/ui/token/variables/colors';
@import 'app/ui/token/dark-theme';
@import 'app/ui/token/colorblind-theme';
@import 'app/ui/token/typography';

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  /* Prevent scrollbar appearing on page transition */
  overflow-y: hidden;
}
