.instructions {
  padding: 16px;
  padding-top: 0px;
}

.examples {
  border-bottom: 1px solid var(--color-tone-4);
  border-top: 1px solid var(--color-tone-4);
}

.example {
  margin-top: 24px;
  margin-bottom: 24px;
}
